version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8001:8001"
    volumes:
      - ./data:/app/data
    env_file:
      - path: .env
        required: false
    environment:
      - DATABASE_URL=sqlite:///./data/freezer.db

  frontend:
    build: ./frontend
    ports:
      - "5174:5174"
    depends_on:
      - backend
